:root{
  --background: rgb(193, 188, 188);
  --light: rgb(246, 235, 238);
  --dark: black;
}

body {
margin: 8rem;
background:var(--background);
font-family: sans-serif;
height:100%;
}

.wrapper {
width: 800px;
margin: 30px auto;
color:var(--dark);
text-align:center;
}

h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 2.6em;
}

#sec, #mili {
  font-size: 6rem;
}

button{
  box-sizing: border-box;
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: #4CAF50;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-decoration: none;
  overflow: hidden;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@media only screen and (max-width: 600px) {
  body {
    margin: 2rem;
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
.wrapper p {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper p span {
  font-size: 0.5em;
}
p{
  margin: 20px;
}



