:root{
  --background: #784dcf;
  --light: rgb(242, 220, 226);
  --dark: black;
}

body {
margin: 8rem;
background:var(--background);
font-family: sans-serif;
height:100%;
}

.wrapper {
width: 800px;
background-color: var(--light);
margin: auto;
padding: 30px 0px;
color:var(--dark);
text-align:center;
border-radius: 2rem;
}

h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 2.6em;
}

#sec, #mili {
  font-size: 6rem;
}
p{
  margin: 20px;
}

button{
  box-sizing: border-box;
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 0.8rem;
  /* background-color: #4CAF50; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-decoration: none;
  overflow: hidden;
}
#button-start{
  background-color: #98c79a;
}
#button-stop{
  background-color: rgb(185, 105, 105);
}
#button-reset{
  background-color: rgb(175, 175, 105);
}
#button-start:hover {background-color: #22a528}
#button-stop:hover {background-color:rgb(227, 31, 31)}
#button-reset:hover {background-color:rgb(190, 190, 26)}

@media only screen and (max-width: 800px) {
  body {
    margin: 2rem;
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
.wrapper p {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 800px) {
  .wrapper {
    width: 800px;
  }
}
.wrapper p span {
  font-size: 0.5em;
}
