#stopwatch {
    font-size: 48px;
    text-align: center;
    margin: 50px auto;
  }
  
  #stopwatch span {
    margin: 0 10px;
  }
  
  #stopwatch button {
    margin: 20px 10px;
    padding: 10px 20px;
    font-size: 24px;
  }
  